<div id="node-2" class="node">



  
  <div class="content clear-block">
    <div class='node-body'><p>Debut Audio is part of <a target="_blank" href="http://drupal.org/project/debut">Debut</a>, a set of baseline Drupal <a target="_blank" href="http://drupal.org/project/features">Features</a> designed to work independently yet integrate seamlessly together.</p>
<p>Debut Audio provides users with the ability to post embedded audio files from either <a target="_blank" href="http://archive.org">Archive.org</a> or <a target="_blank" href="http://podcastalley.com">Podcast Alley</a>.  If an audio file already exists on one of these hosts, the user simply pastes in the URL when creating a new "Audio" content type.  If the audio file has not already been uploaded, an additional step to upload the file needs to be done as well.</p>
<p>See the <a href="http://drupal.org/project/debut_audio">Debut Audio</a> project page on drupal.org for more information.</p>
</div>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
