<div id="node-8" class="node">



  
  <div class="content clear-block">
    <div class='node-body'><p>If you choose to use Podcast Alley follow these steps:</p>
<ul>
<li> Create an account with <a target="_blank" href="http://podcastalley.com/forum/register.php">Podcast Alley</a></li>
<li> Follow their instructions to upload a podcast.</li>
<p>When your file is uploaded, it will be displayed at a URL that reflects the name you've given it, something like <a href="http://www.podcastalley.com/details/MyAudioRecording" title="http://www.podcastalley.com/details/MyAudioRecording">http://www.podcastalley.com/details/MyAudioRecording</a>. This URL is what you'll need to copy and paste into the Audio content editing form to embed the audio on your site.</p>
</ul></div>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
