<div id="node-7" class="node">



  
  <div class="content clear-block">
    <div class='node-body'><p>An embedded audio content type relies on audio files that are hosted on an external site.  The Debut Audio feature is configured for files that are hosted on either <a target="_blank" href="http://archive.org">Archive.org</a> or <a target="_blank" href="http://podcastalley.com">Podcast Alley</a>.  The first step in posting content to your Drupal site is to ensure that it is uploaded on one of these two external hosts.</p>
</div>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
